@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 300 37% 95%;
    --foreground: 300 5% 0%;
    --card: 300 37% 90%;
    --card-foreground: 300 5% 10%;
    --popover: 300 37% 95%;
    --popover-foreground: 300 95% 0%;
    --primary: 300 36% 34.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 300 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 262 30% 85%;
    --muted-foreground: 300 5% 35%;
    --accent: 262 30% 80%;
    --accent-foreground: 300 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 300 5% 90%;
    --border: 300 30% 50%;
    --input: 300 30% 18%;
    --ring: 300 36% 34.3%;
    --radius: 0.5rem;

    --pastel-blue: 216 100% 83%; /* #A6CAFF */
    --pastel-green: 157 100% 71%; /* #6AFFC7 */
    --pastel-yellow: 56 100% 77%; /* #FFF78A */
  }
  .dark {
    --background: 300 37% 5%;
    --foreground: 300 5% 90%;
    --card: 300 37% 0%;
    --card-foreground: 300 5% 90%;
    --popover: 300 37% 5%;
    --popover-foreground: 300 5% 90%;
    --primary: 300 36% 34.3%;
    --primary-foreground: 0 0% 100%;
    --secondary: 300 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 262 30% 15%;
    --muted-foreground: 300 5% 60%;
    --accent: 262 30% 15%;
    --accent-foreground: 300 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 300 5% 90%;
    --border: 300 30% 18%;
    --input: 300 30% 18%;
    --ring: 300 36% 34.3%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
