---
import { H1 } from "@/components/Typography";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="404 - Page non trouvée"
  description="La page que vous cherchez n'existe pas."
>
  <div class="flex flex-col items-center justify-center h-60">
    <H1>404 - Page non trouvée</H1>
    <p>La page que vous cherchez n'existe pas.</p>
  </div>
</Layout>
