---
import { H1, H2 } from "@/components/Typography";
import { SEO_META } from "@/data.constants";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title={SEO_META.CONDITION_GENERALE_LOCATION.title}
  description={SEO_META.CONDITION_GENERALE_LOCATION.description}
>
  <div class="container">
    <H1>CONDITION GENERALE DE LOCATION</H1>
    <p>&nbsp;</p>
    <H2>DISPOSITIONS GENERALES</H2>

    <p>
      Le locataire ne pourra en aucune circonstance se prévaloir d'un quelconque
      droit au maintien dans les lieux à l'expiration de la période de location
      initialement prévue sur ce présent contrat, sauf accord du propriétaire.
    </p>

    <H2>PAIEMENT</H2>

    <p>
      La réservation deviendra effective dès lors que le locataire aura retourné
      un exemplaire du présent contrat accompagné du montant de l'acompte : 25 %
      du séjour, avant la date indiquée ci-dessus.
    </p>

    <p>
      Si la réservation se fait moins de 30 jours avant la date de la location,
      le montant total sera versé à la signature du contrat.
    </p>

    <p>
      Le solde de la location sera versé à l'arrivée sur les lieux. Si le
      locataire retarde son arrivée, il doit en aviser au préalable le
      propriétaire.
    </p>

    <H2>DEPOT DE GARANTIE (OU CAUTION)</H2>

    <p>
      Le montant du dépôt de garantie devra être versé à la prise de possession
      des lieux loués et ceci pour répondre à la perte ou aux dégâts qui
      pourraient être causés aux objets, mobiliers ou autres.
    </p>

    <p>
      Le dépôt de garantie sera restitué au locataire par courrier sous
      quinzaine, sous réserve de bonne remise en état des lieux. Si le
      propriétaire constate des dégâts, il devra en informer le locataire sous
      huitaine.
    </p>

    <p>
      Au maximum 2 mois après la date de départ, en cas de dégradations,
      déduction faite des dépenses occasionnées par les dommages causés par le
      preneur à l'immeuble et aux meubles, sous réserve de présenter une
      facture.
    </p>

    <p>
      Si le dépôt de garantie s'avère insuffisant, le preneur s'engage à
      parfaire la somme sur justificatifs.
    </p>

    <H2>UTILISATION DES LIEUX.</H2>

    <p>
      Le locataire jouira de la location d'une manière paisible et en fera bon
      usage, conformément à la destination des lieux. Pas de fête, ni de musique
      à l'extérieur pour le confort du voisinage.
    </p>

    <p>Gîte NON FUMEUR, espace fumeur à l'extérieur.</p>

    <p>
      A son départ, le locataire s'engage à rendre la location aussi propre
      qu'il aura trouvée à son arrivée, (si la « reprise » de ménage excède 1h
      le loueur se réserve le droit de facturer le forfait ménage) ou, vous
      devez réserver le forfait ménage au début de la semaine (125 € gîte 15p,
      90 € gîte 10p, 60 € gîte 5 p).
    </p>

    <p>
      La vaisselle n'est pas comprise dans le forfait, elle doit être rangée en
      vue de l'inventaire de sortie.
    </p>

    <p>
      Pour une raison d'hygiène, vous devez impérativement mettre des draps sur
      la literie.
    </p>

    <p>
      La location de Draps est comprise pour 14 personnes. kit literie en
      supplément pour 8 €/ lit 90, 16 € /lit 140.
    </p>

    <p>
      En cas de souillure des autres éléments de literie, nous vous facturerons
      le nettoyage : couette 90 =17€, couette 140 = 25€, traversin ou oreiller
      =8€, dessus de canapé 30€, alèse lits 140 =10€, en cas de détérioration de
      l'alèse lits = 50€.
    </p>

    <H2>SACS de COUCHAGES et autre matériel de literie personnel INTERDITS</H2>

    <p>
      La location ne peut en aucun cas bénéficier à des tiers, sauf accord du
      propriétaire.
    </p>

    <p>
      L'installation de tente ou de stationnement de caravanes sur le terrain de
      la propriété louée est interdite sauf accord préalable du propriétaire.
    </p>

    <p>
      Le propriétaire fournira le logement conformément à la description qu'il
      en a faite et le maintiendra en état de servir. En règle générale, le
      locataire
    </p>

    <p>
      quitte les lieux à l'heure prévue au contrat ou à une heure convenant au
      propriétaire, après état des lieux.
    </p>

    <p>
      WIFI Gratuite : Téléchargement interdit, attention de fermer vos
      &nbsp;uTorrent, BitTorrent....
    </p>

    <H2>CAS PARTICULIERS</H2>

    <p>
      Le nombre de locataires ne peut être supérieur à la capacité d'accueil
      maximum indiquée sur l'état descriptif.
    </p>

    <p>
      Si le nombre de vacanciers dépasse la capacité d'accueil, le prestataire
      peut refuser les clients supplémentaires.
    </p>

    <H2>ETAT DES LIEUX ET INVENTAIRE.</H2>

    <p>
      L'état des lieux et inventaire du mobilier et divers équipements seront
      faits en début et fin de séjour par le propriétaire ou son mandataire et
      le locataire. En cas d'impossibilité de procéder à l'inventaire lors de
      l'arrivée, le locataire dispose de 24 h pour signaler au propriétaire les
      anomalies constatées. Passé ce délai, les biens loués seront considérés
      comme exempts de dommages à l'entrée du locataire.
    </p>

    <p>
      Le locataire ne pourra s'opposer à la visite des locaux par le
      propriétaire ou son représentant, si celui-ci le juge utile.
    </p>

    <p>
      En cas de non réalisation d'état des lieux au départ, en raison d'une
      heure de départ autre que celle prévue au contrat et incompatible avec
      l'emploi du temps du propriétaire, celui-ci effectue l'état des lieux à
      l'heure prévue.
    </p>

    <p>
      Le dépôt de garantie sera restitué au locataire par courrier sous
      quinzaine, sous réserve de bonne remise en état des lieux.
    </p>

    <p>
      Si le propriétaire constate des dégâts, il devra en informer le locataire
      sous huitaine.
    </p>

    <p>
      En ce qui concerne les détériorations dûment constatés, elles feront
      l'objet d'une retenue sur le dépôt de garantie dont le montant sera
      déterminé par accord amiable entre le propriétaire ou son représentant et
      le locataire. En cas de litige, un devis sera effectué par un
      professionnel ou un organisme habilité, sollicité par le locataire avant
      son départ ou, à défaut par le propriétaire lors de l'état des lieux de
      sortie dans ce cas. En conséquence, il aura un délai d'un minimum de 2
      mois après départ pour restituer la caution, déduction faite des dégâts,
      de la perte des objets, déduction faite du montant des travaux estimés par
      le devis etc…
    </p>

    <p>
      ANIMAUX: La présence d'animaux familiers se fait sur demande, en général
      autorisée, si l'animal ne fait pas de dégâts ni de bruits intempestifs,
      est propre et que ses déjections sont ramassées. Si malgré le refus du
      propriétaire un animal est présent cela entraînera la rupture immédiate du
      présent contrat.
    </p>

    <H2>CONDITION DE RESILIATION</H2>

    <p>Toute résiliation doit être notifiée par lettre recommandée .</p>

    <ul>
      <li>
        <p>
          Avant l'entrée dans les lieux : l'acompte reste acquis au
          propriétaire; toutefois, le solde du montant du séjour reste dû, si
          l'annulation intervient moins de 30 jours avant la date prévue
          d'entrée dans les lieux.
        </p>
      </li>
      <li>
        <p>
          En cas de résiliation de la location par le propriétaire. Ce dernier
          reversera au locataire le double des sommes encaissées.
        </p>
      </li>
      <li>
        <p>
          Si le propriétaire se voit contraint d'annuler une location parce que
          toutes les conditions ne sont pas réunies pour un séjour optimum.
          (Incendie, dégâts des eaux, insalubrité....) l'acompte sera remboursé.
        </p>
      </li>
      <li>
        <p>
          En cas d' annulation liée aux décrets gouvernementaux dû à la
          Covid-19, les mesures gouvernementales seront appliquées.
        </p>
      </li>
    </ul>

    <H2>INTERRUPTION DU SEJOUR</H2>

    <p>
      En cas d'interruption anticipé du séjour par le locataire, et si la
      responsabilité du propriétaire n'est pas remise en cause, il ne sera
      procéder à aucun remboursement, hormis le dépôt de garantie.
    </p>

    <H2>ASSURANCES</H2>

    <p>Le locataire est tenu d'assurer le local qui lui est confié ou loué.</p>

    <p>
      Il doit donc vérifier si son contrat d'habitation principale prévoit
      l'extension villégiature (location de vacances).dans l'hypothèse
      contraire, il doit intervenir auprès de sa compagnie d'assurances et lui
      réclamer l'extension de la garantie ou bien souscrire un contrat
      particulier, au titre de clause « villégiature ».
    </p>

    <p>
      Une attestation d'assurance peut lui être réclamée à l'entrée dans les
      locaux.
    </p>

    <H2>LITIGES OU RECLAMATION</H2>

    <p>
      Il est recommandé de s'adresser à l'organisme départemental agréé
      »organisme chargé de la délivrance des certificats de visite des meublés
      », (union départementale des offices de tourisme et syndicats
      d'initiative) qui interviendra pour favoriser le règlement à l'amiable des
      litiges :
    </p>

    <ul>
      <li>
        <p>Si le contrat est signé par le propriétaire et le locataire.</p>
      </li>
      <li>
        <p>
          Si la réclamation est formulée dans les trois premiers jours après
          l'arrivée, pour tout litige concernant l'état des lieux ou l'état
          descriptif.
        </p>
      </li>
      <li>
        <p>A l'issue du séjour pour toutes les autres contestations.</p>
      </li>
    </ul>

    <p>
      A défaut d'accord entre le propriétaire et le locataire, tout litige
      pourra être soumis aux tribunaux compétents.
    </p>
  </div>
</Layout>
