---
import Card from "@/components/Card.astro";
import { H1 } from "@/components/Typography";
import Layout from "@/layouts/Layout.astro";
import { Image } from "astro:assets";
---

<Layout title="Notre région">
  <H1 className="uppercase">LES FOURGS</H1>

  <ul>
    <li>
      Ski alpin: La station des Fourgs possède 7 remontées mécaniques et des
      pistes pour tous les niveaux, allant des pistes baby/vertes aux pistes
      rouges. Certaines pistes sont équipées de canons à neige.
    </li>
    <li>
      Ski de fond: discipline populaire dans la région, avec plus de 100
      kilomètres de pistes dans des espaces naturels entre les collines et les
      forêts. Vous pouvez choisir entre le style skating ou classique. Une piste
      de ski nocturne ouverte le mardi et jeudi existe aussi à la Coupe.
    </li>
    <li>
      Raquettes: Vous pouvez aussi randonner en raquettes sur des pistes
      balisées dans les forêts de sapins.
    </li>
  </ul>
  <Image
    src="/les-fourgs-plan.webp"
    alt="Plan des Fourgs"
    width={1100}
    height={776}
  />
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4">
    <Card title="Métabief">
      <Image
        src="/meta-plan.webp"
        alt="Plan de Métabief"
        width={800}
        height={732}
      />
      En seulement 10 minutes en voiture, vous pourrez également accéder à Métabief
      et skier sur ses 35 pistes allant de la verte à la noire. Une école de ski
      est également disponible sur place.
    </Card>
    <Card title="Le Lac de Saint Point">
      <Image
        src="/st-point.webp"
        alt="Photo du lac Saint-Point"
        width={800}
        height={732}
      />
      Le lac de Saint-Point offre un magnifique panorama entouré de forêts de sapins.
      Il est possible de pratiquer la baignade, la pêche, la randonnée, le vélo,
      les activités nautiques comme la voile ou le canoë. Il y a aussi des aires
      de pique- nique et des terrains de jeux pour les entants. Il est également
      connu pour être un spot populaire pour les activités nautiques comme le pédalo,
      le kayak et le stand-up paddle.
    </Card>
    <Card title="Château de Joux">
      <Image
        src="/joux.webp"
        alt="Photo du Château de Joux"
        width={800}
        height={732}
      />
      Le château de Joux est un incontournable pour les amateurs d'histoire et de
      culture. Il est situé sur une colline dominant la vallée du Doubs, il est un
      témoin de l'histoire mouvementée de la région. il est ouvert au public pour
      des visites guidées et offre une vue imprenable sur la vallée environnante.
    </Card>
    <Card title="Autres activités">
      <Image
        src="/office-de-tourisme.webp"
        alt="Photo du Château de Joux"
        width={504}
        height={461}
      />
      Chien de traineaux, caves d'affinage, grottes, pêche, accro-branches, disc
      golf... Pour découvrir toutes les autres activités et les site touristiques
      qu'offre la région, n'hésitez pas à vous rendre à l'office de tourisme du village.
    </Card>
  </div>
</Layout>
