---
import Layout from "@/layouts/Layout.astro";
import { LandingH2 } from "@/components/Typography";
import { Image } from "astro:assets";
import { ZoomedImage } from "@/components/ZoomedImage";
import { SEO_META } from "@/data.constants";
import { Diamond } from "@/components/icons";
import Container from "@/components/Container.astro";
import ContactForm from "@/components/ContactForm.astro";
import Card from "@/components/Card.astro";

const LABEL = "Plan du Gîte";
---

<Layout
  title={SEO_META.PLAN_DU_GITE.title}
  description={SEO_META.PLAN_DU_GITE.description}
>
  <Container>
    <LandingH2 className="text-center">{LABEL}</LandingH2>
    <Card className="mt-4">
      <div class="flex flex-col justify-center gap-4 mt-4 items-center">
        <div class="lg:w-2/3">
          <ZoomedImage client:idle>
            <Image
              src="/plan.svg"
              alt={LABEL}
              class={"w-full h-full object-cover"}
              height="2250"
              width="1250"
            />
          </ZoomedImage>
        </div>
        <ul class="mt-4 flex-1 flex flex-col justify-center gap-2">
          <li class="flex items-center space-x-1">
            <Diamond className="h-4 w-4 shrink-0 text-primary mr-1" />
            Petite salle de bain en option (table à langer, baignoire): <div
              class="h-6 w-6 border bg-pastel-yellow shrink-0"
            >
            </div>
          </li>
        </ul>
      </div>
    </Card>
  </Container>
  <Container>
    <ContactForm />
  </Container>
</Layout>
