---
import Layout from "@/layouts/Layout.astro";
import { LandingH2 } from "@/components/Typography";
import { Image } from "astro:assets";
import { ZoomedImage } from "@/components/ZoomedImage";
import { SEO_META } from "@/data";
import { DarkBluePlant } from "@/components/icons";
import { Diamond } from "@/components/icons";

const LABEL = "Plan du Gîte";
---

<Layout
  title={SEO_META.PLAN_DU_GITE.title}
  description={SEO_META.PLAN_DU_GITE.description}
>
  <div class="flex justify-center">
    <div class="container">
      <LandingH2 className="text-center">{LABEL}</LandingH2>
      <div class="flex flex-col justify-center lg:flex-row gap-4 mt-4">
        <div class="lg:w-2/3">
          <ZoomedImage client:idle>
            <!-- TODO: use webp -->
            <Image
              src="/plan.webp"
              alt={LABEL}
              class={"w-full h-full object-cover"}
              height="4500"
              width="2500"
            />
          </ZoomedImage>
        </div>
        <ul class="mt-4 flex-1 flex flex-col justify-center gap-2">
          <li class="flex items-start space-x-1 mt-2">
            <Diamond className="h-4 w-4 shrink-0 text-primary mt-1 mr-1" />

            Pour les groupes jusqu'à 10 personnes : <div
              class="h-6 w-6 border bg-pastel-blue shrink-0"
            >
            </div>
          </li>
          <li class="flex items-start space-x-1 mt-2">
            <Diamond className="h-4 w-4 shrink-0 text-primary mt-1 mr-1" />
            Pour les groupes jusqu'à 14 personnes: <div
              class="h-6 w-6 border bg-pastel-blue shrink-0"
            >
            </div>
            &nbsp;+<div class="h-6 w-6 border bg-pastel-green shrink-0"></div>
          </li>
          <li class="flex items-start space-x-1 mt-2">
            <Diamond className="h-4 w-4 shrink-0 text-primary mt-1 mr-1" />
            Petite salle de bain en option (table à langer, baignoire): <div
              class="h-6 w-6 border bg-pastel-yellow shrink-0"
            >
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</Layout>
