---
import Layout from "@/layouts/Layout.astro";
import { H1, LandingH2 } from "@/components/Typography";
import { Image } from "astro:assets";
import { ZoomedImage } from "@/components/ZoomedImage";

const LABEL = "Plan du Gîte";
---

<Layout title={LABEL}>
  <div class="flex justify-center">
    <div class="container">
      <LandingH2 className="text-center">{LABEL}</LandingH2>
      <div class="flex flex-col justify-center lg:flex-row gap-4 mt-4">
        <div class="lg:w-2/3">
          <ZoomedImage client:idle>
            <!-- TODO: use webp -->
            <Image
              src="/plan.webp"
              alt="Plan du gîte"
              class={"w-full h-full object-cover"}
              height="4500"
              width="2500"
            />
          </ZoomedImage>
        </div>
        <div class="mt-4 flex-1 flex flex-col justify-center gap-2">
          <li class="flex gap-2 items-center">
            Pour les groupes jusqu'à 10 personnes : <div
              class="h-6 w-6 border bg-pastel-blue shrink-0"
            >
            </div>
          </li>
          <li class="flex gap-2 items-center">
            Pour les groupes jusqu'à 14 personnes: <div
              class="h-6 w-6 border bg-pastel-blue shrink-0"
            >
            </div>
            + <div class="h-6 w-6 border bg-pastel-green shrink-0"></div>
          </li>
          <li class="flex gap-2 items-center">
            Petite salle de bain en option (table à langer, baignoire): <div
              class="h-6 w-6 border bg-pastel-yellow shrink-0"
            >
            </div>
          </li>
        </div>
      </div>
    </div>
  </div>
</Layout>
