---
import { LandingH2 } from "@/components/Typography";
import { IMAGES } from "@/data";
import { cn } from "@/lib/utils";

const ingenieCode = import.meta.env.PUBLIC_INGENIE_CODE;
const siteUrl = import.meta.env.PUBLIC_SITE_URL;

export type Props = {
  showTitle?: boolean;
};

const { showTitle = true } = Astro.props;
---

<section class="relative w-full h-[36rem] sm:h-[46rem] bg-red-500">
  <div
    class={cn(
      "w-full h-full bg-cover bg-center bg-no-repeat",
      "absolute top-0 left-0 z-0",
    )}
    style={`background-image: url('${IMAGES.EXTERIEUR_ARBRES.url}');`}
  >
  </div>
  <div
    class={cn(
      "w-11/12 sm:w-9/12 lg:w-3/4 bg-background opacity-90 flex flex-col justify-center self-center justify-self-center p-6 sm:p-12 px-8",
      "absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2",
      "rounded-lg",
      "z-10",
    )}
  >
    {
      showTitle ? (
        <LandingH2 className="text-center mb-8">Disponibilités</LandingH2>
      ) : null
    }
    <div class="relative h-[307px] flex justify-center">
      <div class="max-w-full absolute" id="widget-fiche-ingenie"></div>
    </div>
  </div>
</section>

<script
  is:inline
  src="https://static.ingenie.fr/js/ScriptsLoader.js"
  type="text/javascript"></script>
<script
  is:inline
  src="https://static.ingenie.fr/widgets/dispo_resa/Client.js"
  type="text/javascript"></script>
<script is:inline define:vars={{ ingenieCode, siteUrl }}>
  // Créer un widget de dispo et/ou resa
  const widget_dispo_resa = new window.IngenieWidgetDispoResa.Client({
    code: ingenieCode, // Code de la prestation
    url: siteUrl, //(string) Url du site (dynamique)
    elementHtml: "widget-fiche-ingenie", //(string) Identifiant destination HTML du widget
    enable_dispo: true, // Active dispo
    enable_resa: false, // Active résa
    styles: {
      direction: "horizontal",
      responsiveAt: "900",
      inlineLabels: true,
    },
    dispo: {
      options: {
        templates: {
          Week: "semaineLigne",
          Days: "jourSemaineLigne",
        },
      },
    },
    resa: {
      typeWidget: "OBJET",
    },
  });

  widget_dispo_resa.init();
</script>
