---
import { H3 } from "@/components/Typography";

type Props = {
  title: string;
};
const { title } = Astro.props;
---

<div class="bg-card text-card-foreground p-4">
  <H3>{title}</H3>
  <slot />
</div>
