---
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";
import { Button } from "@/components/ui/button";
import { H2 } from "@/components/Typography";
import {
  CheckCircledIcon,
  CrossCircledIcon,
  PaperPlaneIcon,
} from "@radix-ui/react-icons";
import { ContactMailLink } from "@/components/Buttons";

const IS_DEBUG = import.meta.env.DEV;
---

<div class="container mx-auto mt-8 flex justify-center px-4 md:px-8">
  <form action="/actions/send-email" method="post">
    <div class="space-y-5">
      <div class="text-center">
        <H2>Nous contacter</H2>
        <p class="text-gray-500">
          Pour toute réservation ou question. Nous vous répondrons dans les plus
          brefs délais.
        </p>
      </div>
      <div id="contact-form-success" class="container mx-auto hidden">
        <div
          class="flex flex-col items-center justify-center border border-green-500 p-4 rounded-md h-56 gap-2 fade-in"
        >
          <CheckCircledIcon className="w-10 h-10 text-green-500" />
          <p class="text-center">
            Votre message a bien été envoyé. <br />
            Nous vous répondrons dans les plus brefs délais.
          </p>
        </div>
      </div>
      <div id="contact-form-error" class="container mx-auto hidden">
        <div
          class="flex flex-col items-center justify-center border border-red-500 p-4 rounded-md h-56 gap-2 fade-in"
        >
          <CrossCircledIcon className="w-10 h-10 text-red-500" />
          <p class="text-center">
            Une erreur est survenue lors de l'envoi de votre message. <br
            />Veuillez réessayer ou nous contacter directement à l'adresse
            <ContactMailLink client:load />
          </p>
        </div>
      </div>
      <div id="contact-form-container">
        <div class="gap-4 grid grid-cols-2">
          <div class="space-y-1 col-span-2 md:col-span-1">
            <Label htmlFor="name">Nom</Label>
            <Input
              id="name"
              placeholder="Enter your name"
              name="name"
              value={IS_DEBUG ? "John Doe" : ""}
            />
          </div>
          <div class="space-y-1 col-span-2 md:col-span-1">
            <Label htmlFor="email">Email</Label>
            <Input
              id="email"
              placeholder="Enter your email"
              type="email"
              name="email"
              value={IS_DEBUG ? "john.doe@example.com" : ""}
            />
          </div>
          <div class="space-y-1 col-span-2">
            <Label htmlFor="message">Message</Label>
            <Textarea
              id="message"
              placeholder="Enter your message"
              className="min-h-[100px]"
              name="message"
              value={IS_DEBUG ? "Hello, I want to book a stay." : ""}
            />
          </div>
        </div>
        <Button type="submit" className="mx-auto flex w-1/2 mt-5">
          <PaperPlaneIcon className="w-4 h-4 mr-2" /> Envoyer
        </Button>
      </div>
    </div>
  </form>
</div>
<script>
  import { actions } from "astro:actions";

  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const formData = new FormData(form);
    const result = await actions.sendContactEmail(formData);
    console.log("🚀 ~ form?.addEventListener ~ result:", result);

    if (!result.data?.success) {
      const contactFormError = document.getElementById("contact-form-error");
      if (contactFormError) contactFormError.style.display = "block";
      return;
    }

    const contactFormSuccess = document.getElementById("contact-form-success");
    if (contactFormSuccess) contactFormSuccess.style.display = "block";
    const contactFormContainer = document.getElementById(
      "contact-form-container",
    );
    if (contactFormContainer) contactFormContainer.classList.add("hidden");
  });
</script>
