---
import {
  CGLButton,
  MentionLegalesButton,
  PhoneNumberLink,
  AddressLink,
  MailLink,
} from "@/components/Buttons";
import { ContactForm } from "@/components/ContactForm";
import { GiteLogoWrapper } from "@/components/GiteLogoWrapper";
import { Small } from "@/components/Typography";
import Image from "astro/components/Image.astro";
---

<footer class="bg-white py-8 w-full">
  <div>
    <!-- <ContactForm /> -->
  </div>
  <script>
    import { actions } from "astro:actions";
    import { navigate } from "astro:transitions/client";

    const form = document.querySelector("form");
    form?.addEventListener("submit", async (event) => {
      event.preventDefault();
      const formData = new FormData(form);
      const { error } = await actions.sendContactEmail(formData);
      if (!error) navigate("/confirmation");
    });
  </script>

  <div class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="flex flex-col">
      <GiteLogoWrapper />
      <div class="flex flex-row justify-start ml-16 gap-4">
        <Image
          src="/meuble-de-tourisme.webp"
          alt="Meublé de tourisme"
          class="w-12 md:w-16 h-auto object-contain shrink-0"
          width={180}
          height={132}
        />
        <Image
          src="/trois-epis.webp"
          alt="Gite 3 épis"
          class="w-20 md:w-24 h-auto object-contain shrink-0"
          width={232}
          height={120}
        />
      </div>
    </div>
    <div class="flex flex-col justify-center flex-1 items-start">
      <PhoneNumberLink withLabel />
      <AddressLink withLabel />
      <MailLink withLabel />
    </div>
  </div>
  <div class="mt-8 text-center">
    <CGLButton client:load />
    <MentionLegalesButton client:load />
    <Small className="whitespace-nowrap">
      &copy; {new Date().getFullYear()} Gîte La Randonnée. Tous droits réservés.
    </Small>
  </div>
</footer>
