---
import {
  CGLButton,
  MentionLegalesButton,
  PhoneNumberLink,
  AddressLink,
  MailLink,
} from "@/components/Buttons";
import ContactForm from "@/components/ContactForm.astro";
import { GiteLogoWrapper } from "@/components/GiteLogoWrapper";
import { Small } from "@/components/Typography";
import Image from "astro/components/Image.astro";
---

<footer class="bg-white py-8 w-full mt-8">
  <ContactForm client:load />
  <div
    class="container mx-auto grid grid-cols-1 md:grid-cols-2 gap-4 mt-28 border-t border-green-800 pt-8"
  >
    <div class="flex flex-col">
      <GiteLogoWrapper client:load />
      <div class="flex flex-row justify-center gap-2 mt-4">
        <Image
          src="/meuble-de-tourisme.webp"
          alt="Meublé de tourisme"
          class="w-16 h-auto object-contain shrink-0"
          width={180}
          height={132}
        />
        <Image
          src="/trois-epis.webp"
          alt="Gite 3 épis"
          class="w-24 h-auto object-contain shrink-0"
          width={232}
          height={120}
        />
      </div>
    </div>
    <div class="flex flex-col justify-center flex-1 items-start">
      <PhoneNumberLink withLabel />
      <AddressLink withLabel />
      <MailLink withLabel />
    </div>
  </div>
  <div class="mt-8 text-center">
    <CGLButton client:load />
    <MentionLegalesButton client:load />
    <Small className="whitespace-nowrap">
      &copy; {new Date().getFullYear()} Gîte La Randonnée. Tous droits réservés.
    </Small>
  </div>
</footer>
