---
import Card from "@/components/Card.astro";
import { H2 } from "@/components/Typography";

import { MidWeekAlert, ArrivalDepartureAlert } from "@/components/Alerts";
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-2">
  <H2 className="col-span-3">Nos tarifs à la semaine</H2>
  <Card
    title="Vacances Scolaire"
    className="col-span-3 md:col-span-1 relative bg-background"
  >
    <!-- <DarkGreenLeaf className="absolute right-4 top-4 w-8 h-8" /> -->
    <div class="flex flex-col">
      <p class="mt-2">
        <span class="font-bold">Pâques : </span>750€
      </p>
      <p class="mt-2">
        <span class="font-bold">Vacances d'été :</span> 1000€
      </p>
      <p class="mt-2">
        <span class="font-bold">Vacances de Toussaint:</span> 750€
      </p>
      <p class="mt-2">
        <span class="font-bold">Vacances de Noël :</span> 1600€
      </p>
      <p class="mt-2">
        <span class="font-bold">Vacances de Février :</span> 1600€
      </p>
    </div>
  </Card>
  <Card
    title="Hors saison"
    className="col-span-3 md:col-span-1 relative bg-background"
  >
    <!-- <PinkFlower className="absolute right-4 top-4 w-8 h-8" /> -->
    <div class="flex flex-col">
      <p class="mt-2">
        <span class="font-bold">Janvier, Février, Mars :</span> 1000€
      </p>
      <p class="mt-2">
        <span class="font-bold">Mai, Juin et Septembre :</span> 750€
      </p>
      <p class="mt-2">
        <span class="font-bold">Octobre, November, Décembre :</span> 1000€
      </p>
    </div>
  </Card>
  <Card
    title="Options et taxes"
    className="col-span-3 md:col-span-1 relative bg-background"
  >
    <!-- <DarkBluePlant className="absolute right-4 top-4 w-8 h-8" /> -->
    <ul class="space-y-2 mt-2">
      <li>
        <span class="font-bold">Charges et location de draps :</span>
        <span class="ml-2">Compris dans le prix</span>
      </li>
      <li>
        <span class="font-bold">Taxe de séjour :</span>
        <span class="ml-2">1,10 € par nuit par adulte</span>
      </li>
      <li>
        <span class="font-bold">Forfait Ménage :</span>
        <span class="ml-2">125€</span>
      </li>
      <li>
        <span class="font-bold">Salle de bain supplémentaire :</span>
        <span class="ml-2">70€ par semaine</span>
      </li>
    </ul>
  </Card>
  <MidWeekAlert />
  <ArrivalDepartureAlert />
</div>
