---
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import "../styles/globals.css";
import "../styles/fonts.css";
import { cn } from "@/lib/utils";
import { ViewTransitions } from "astro:transitions";
import { SEO } from "astro-seo";

interface Props {
  title: string;
  description: string;
  withPadding?: boolean;
  className?: string;
  ignoreViewTransitions?: boolean;
}
const {
  title,
  description,
  withPadding = true,
  ignoreViewTransitions = false,
} = Astro.props;

const canonical = new URL(Astro.url.pathname, Astro.site).href;
---

<!doctype html>
<html lang="fr">
  <head>
    <!-- Is this needed? -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <SEO
      title={title}
      description={description}
      canonical={canonical}
      openGraph={{
        basic: {
          title,
          type: "website",
          image: "/og.png",
          url: canonical,
        },
      }}
      twitter={{
        creator: "@nathanbrachotte",
      }}
      extend={{
        // extending the default link tags
        link: [{ rel: "icon", href: "/favicon.ico" }],
        // extending the default meta tags
        meta: [
          {
            name: "twitter:image",
            content: "/og.png",
          },
          { name: "twitter:title", content: title },
          { name: "twitter:description", content: description },
          { name: "twitter:card", content: "summary_large_image" },
          { name: "twitter:site", content: "@nathanbrachotte" },
          { property: "og:image:width", content: "1200" },
          { property: "og:image:height", content: "630" },
          { name: "author", content: "Nathan Brachotte" },
        ],
      }}
      extend={{
        meta: [
          { name: "robots", content: "index,follow" },
          { name: "googlebot", content: "index,follow" },
        ],
      }}
    />
    <script
      type="application/ld+json"
      set:html={JSON.stringify({
        "@context": "https://schema.org",
        "@type": "WebSite",
        name: "Gite la Randonnée",
        url: canonical,
      })}
    />
    {ignoreViewTransitions ? null : <ViewTransitions />}
  </head>
  <body
    class={cn(
      "min-h-screen flex flex-col justify-between items-stretch min-w-full",
    )}
  >
    <Header />
    <div
      class={cn({
        "px-4 md:px-8 mb-8 mt-8": withPadding,
      })}
    >
      <slot />
    </div>
    <Footer />
  </body>
</html>
